:root {
  --theme-color-alert-error: #FC4F4F;
  --theme-body-font-size: clamp(calc(0.875rem * var(--theme-body-font-size-base, 1)), 3.5vw, calc(1rem * var(--theme-body-font-size-base, 1)));
  --theme-body-font-size-x-small: clamp(calc(0.75rem * var(--theme-body-font-size-base, 1)), 3vw, calc(0.75rem * var(--theme-body-font-size-base, 1)));
  --theme-body-font-size-small: clamp(calc(0.75rem * var(--theme-body-font-size-base, 1)), 3vw, calc(0.875rem * var(--theme-body-font-size-base, 1)));
  --theme-body-font-size-large: clamp(calc(1rem * var(--theme-body-font-size-base, 1)), 4vw, calc(1.125rem * var(--theme-body-font-size-base, 1)));
  --theme-body-font-size-x-large: clamp(calc(1.125rem * var(--theme-body-font-size-base, 1)), 4.5vw, calc(1.25rem * var(--theme-body-font-size-base, 1)));
  --theme-heading-font-size-huge: calc(2.5rem * var(--theme-heading-font-size-base, 1));
  --theme-heading-font-size-big: calc(2.25rem * var(--theme-heading-font-size-base, 1));
  --theme-heading-font-size-x-large: calc(2rem * var(--theme-heading-font-size-base, 1));
  --theme-heading-font-size-large: calc(1.75rem * var(--theme-heading-font-size-base, 1));
  --theme-heading-font-size-medium: calc(1.5rem * var(--theme-heading-font-size-base, 1));
  --theme-heading-font-size-small: calc(1.25rem * var(--theme-heading-font-size-base, 1));
  --theme-heading-font-size-x-small: calc(1.125rem * var(--theme-heading-font-size-base, 1));
  --theme-heading-font-size-tiny: calc(1rem * var(--theme-heading-font-size-base, 1));
  --theme-special-heading-font-size-x-small: clamp(calc(2rem * var(--theme-special-heading-font-size-base, 1)), 4vw, calc(2.5rem * var(--theme-special-heading-font-size-base, 1)));
  --theme-special-heading-font-size-small: clamp(calc(2.375rem * var(--theme-special-heading-font-size-base, 1)), 4vw, calc(3rem * var(--theme-special-heading-font-size-base, 1)));
  --theme-special-heading-font-size-medium: clamp(calc(2.5rem * var(--theme-special-heading-font-size-base, 1)), 4.5vw, calc(3.5rem * var(--theme-special-heading-font-size-base, 1)));
  --theme-special-heading-font-size-large: clamp(calc(3rem * var(--theme-special-heading-font-size-base, 1)), 5vw, calc(4.5rem * var(--theme-special-heading-font-size-base, 1)));
  --theme-button-line-height: 1;
  --theme-button-padding-level-1: calc(var(--theme-button-padding-base) * 6/7) calc(var(--theme-button-padding-base) * 9/7);
  --theme-button-padding-level-2: var(--theme-button-padding-base) calc(var(--theme-button-padding-base) * 1.5);
  --theme-button-padding-level-3: calc(var(--theme-button-padding-base) * 8/7) calc(var(--theme-button-padding-base) * 12/7);
  --theme-spacing-level-1: calc(var(--theme-spacing-base, 6vh) * 0.5);
  --theme-spacing-level-2: calc(var(--theme-spacing-base, 6vh) * 0.75);
  --theme-spacing-level-3: var(--theme-spacing-base, 6vh);
  --theme-spacing-level-4: calc(var(--theme-spacing-base, 6vh) * 1.25);
  --theme-spacing-level-5: calc(var(--theme-spacing-base, 6vh) * 1.5);
  --theme-gap-level-base: calc((var(--theme-gap-base, 2rem) * 1.25) / 2);
  --theme-gap-level-1: clamp(calc(var(--theme-gap-level-base, var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem))) * 0.25), 5vw, calc(var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)) * 0.375));
  --theme-gap-level-2: clamp(calc(var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)) * 0.375), 5vw, calc(var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)) * 0.5));
  --theme-gap-level-3: clamp(calc(var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)) * 0.5), 5vw, calc(var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)) * 0.625));
  --theme-gap-level-4: clamp(calc(var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)) * 0.625), 5vw, var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)));
  --theme-gap-level-5: clamp(calc(var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)) * 0.75), 5vw, calc(var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)) * 1.25));
  --theme-gap-level-6: clamp(calc(var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)) * 0.875), 5vw, calc(var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)) * 1.75));
  --theme-gap-level-7: clamp(var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)), 5vw, calc(var(--theme-gap-level-base, var(--theme-gap-level-base, 2rem)) * 2.25));
  --theme-section-content-padding-level-1: clamp( 0.75rem, 5vw, 0.75rem);
  --theme-section-content-padding-level-2: clamp( 1.25rem, 5vw, 1.625rem);
  --theme-section-content-padding-level-3: clamp( 1.375rem, 5vw, 2.25rem);
  --theme-section-content-padding-level-4: clamp( 1.5rem, 5vw, 3.375rem);
  --theme-section-content-padding-level-5: clamp( 2rem, 5vw, 4.5rem);
  --theme-block-content-padding-level-1: clamp( 1rem, 5vw, 1rem);
  --theme-block-content-padding-level-2: clamp( 1.25rem, 5vw, 1.625rem);
  --theme-block-content-padding-level-3: clamp( 1.375rem, 5vw, 2.25rem);
  --theme-block-content-padding-level-4: clamp( 1.5rem, 5vw, 3.375rem);
  --theme-block-content-padding-level-5: clamp( 2rem, 5vw, 4.5rem);
  --theme-section-side-margin-level-1: clamp( 1rem, 5vw, 1rem);
  --theme-section-side-margin-level-2: clamp( 1.25rem, 5vw, 1.625rem);
  --theme-section-side-margin-level-3: clamp( 1.375rem, 5vw, 2.25rem);
  --theme-section-side-margin-level-4: clamp( 1.5rem, 5vw, 3.375rem);
  --theme-section-side-margin-level-5: clamp( 2rem, 5vw, 4.5rem);
  --theme-section-side-margin-overflow-level-1: 1rem;
  --theme-section-side-margin-overflow-level-2: 1.625rem;
  --theme-section-side-margin-overflow-level-3: 2.25rem;
  --theme-section-side-margin-overflow-level-4: 3.375rem;
  --theme-section-side-margin-overflow-level-5: 4.5rem;
}

.section-collection-banner {
  margin-right: var(--theme-section-side-margin, auto);
  margin-left: var(--theme-section-side-margin, auto);
}

.section-collection-banner:not(.has-background) {
  margin-top: var(--theme-section-spacing-custom-top, var(--theme-section-spacing-top));
  margin-bottom: var(--theme-section-spacing-custom-bottom, var(--theme-section-spacing-bottom));
}

.section-collection-banner.has-alignment-center .section-container {
  text-align: center;
  align-items: center;
}

.section-collections {
  position: relative;
  margin-top: var(--theme-section-spacing-custom-top, var(--theme-section-spacing-top));
  margin-bottom: var(--theme-section-spacing-custom-bottom, var(--theme-section-spacing-bottom));
  margin-right: var(--theme-section-side-margin, auto);
  margin-left: var(--theme-section-side-margin, auto);
}

.collection-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.collection-list-item {
  list-style: none;
}

.collection {
  list-style: none;
}

.collection__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: var(--theme-heading-font-size-small);
  word-break: break-word;
}

.collection__title a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.collection__title a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.collection__image {
  margin-bottom: 12px;
}

.collection__image a {
  display: flex;
  overflow: hidden;
}

.collection__image figure {
  width: 100%;
}

.collection__image img {
  width: 100%;
  display: block;
  aspect-ratio: var(--theme-collection-list-image-aspect-ratio, 1);
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: all 0.4s ease;
}

.collection__image:hover img {
  transform: scale(1.02);
}

.collection.has-no-thumbnail .collection__image a {
  aspect-ratio: 1;
  width: 100%;
  display: flex;
  background-color: var(--theme-background-color, #ffffff);
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

.collection.has-no-thumbnail .collection__image a span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

@media (min-width: 767px) {
  .collection-list {
    grid-template-columns: repeat(3, 1fr);
  }
}