.scheme_1,
.scheme_2,
.scheme_3,
.scheme_4,
.scheme_5,
.scheme_6,
.scheme_7,
.scheme_8,
[class*=scheme-] {
  color: var(--theme-color-primary);
  background: var(--theme-background-gradient, var(--theme-background-color, transparent));
  background-color: var(--theme-background-color, transparent);
}
.scheme_1 h1,
.scheme_1 h2,
.scheme_1 h3,
.scheme_1 h4,
.scheme_1 h5,
.scheme_1 h6,
.scheme_2 h1,
.scheme_2 h2,
.scheme_2 h3,
.scheme_2 h4,
.scheme_2 h5,
.scheme_2 h6,
.scheme_3 h1,
.scheme_3 h2,
.scheme_3 h3,
.scheme_3 h4,
.scheme_3 h5,
.scheme_3 h6,
.scheme_4 h1,
.scheme_4 h2,
.scheme_4 h3,
.scheme_4 h4,
.scheme_4 h5,
.scheme_4 h6,
.scheme_5 h1,
.scheme_5 h2,
.scheme_5 h3,
.scheme_5 h4,
.scheme_5 h5,
.scheme_5 h6,
.scheme_6 h1,
.scheme_6 h2,
.scheme_6 h3,
.scheme_6 h4,
.scheme_6 h5,
.scheme_6 h6,
.scheme_7 h1,
.scheme_7 h2,
.scheme_7 h3,
.scheme_7 h4,
.scheme_7 h5,
.scheme_7 h6,
.scheme_8 h1,
.scheme_8 h2,
.scheme_8 h3,
.scheme_8 h4,
.scheme_8 h5,
.scheme_8 h6,
[class*=scheme-] h1,
[class*=scheme-] h2,
[class*=scheme-] h3,
[class*=scheme-] h4,
[class*=scheme-] h5,
[class*=scheme-] h6 {
  color: var(--theme-color-heading);
}
.scheme_1 a:not(.btn-fill):not(.btn-outline):not(.btn-fill-secondary):not(.btn-outline-secondary),
.scheme_2 a:not(.btn-fill):not(.btn-outline):not(.btn-fill-secondary):not(.btn-outline-secondary),
.scheme_3 a:not(.btn-fill):not(.btn-outline):not(.btn-fill-secondary):not(.btn-outline-secondary),
.scheme_4 a:not(.btn-fill):not(.btn-outline):not(.btn-fill-secondary):not(.btn-outline-secondary),
.scheme_5 a:not(.btn-fill):not(.btn-outline):not(.btn-fill-secondary):not(.btn-outline-secondary),
.scheme_6 a:not(.btn-fill):not(.btn-outline):not(.btn-fill-secondary):not(.btn-outline-secondary),
.scheme_7 a:not(.btn-fill):not(.btn-outline):not(.btn-fill-secondary):not(.btn-outline-secondary),
.scheme_8 a:not(.btn-fill):not(.btn-outline):not(.btn-fill-secondary):not(.btn-outline-secondary),
[class*=scheme-] a:not(.btn-fill):not(.btn-outline):not(.btn-fill-secondary):not(.btn-outline-secondary) {
  color: var(--theme-color-links);
}
.scheme_1 a.btn-fill, .scheme_1 a.btn-fill-secondary,
.scheme_2 a.btn-fill,
.scheme_2 a.btn-fill-secondary,
.scheme_3 a.btn-fill,
.scheme_3 a.btn-fill-secondary,
.scheme_4 a.btn-fill,
.scheme_4 a.btn-fill-secondary,
.scheme_5 a.btn-fill,
.scheme_5 a.btn-fill-secondary,
.scheme_6 a.btn-fill,
.scheme_6 a.btn-fill-secondary,
.scheme_7 a.btn-fill,
.scheme_7 a.btn-fill-secondary,
.scheme_8 a.btn-fill,
.scheme_8 a.btn-fill-secondary,
[class*=scheme-] a.btn-fill,
[class*=scheme-] a.btn-fill-secondary {
  position: relative;
  color: var(--theme-button-color-primary);
  border-radius: var(--theme-button-border-radius, 0);
  border-width: var(--theme-button-border-width, 1px);
  border-style: solid;
  border-color: var(--theme-button-background-color-primary);
  background-color: var(--theme-button-background-color-primary);
  overflow: hidden;
  z-index: 1;
}
.scheme_1 a.btn-fill-secondary,
.scheme_2 a.btn-fill-secondary,
.scheme_3 a.btn-fill-secondary,
.scheme_4 a.btn-fill-secondary,
.scheme_5 a.btn-fill-secondary,
.scheme_6 a.btn-fill-secondary,
.scheme_7 a.btn-fill-secondary,
.scheme_8 a.btn-fill-secondary,
[class*=scheme-] a.btn-fill-secondary {
  color: var(--theme-button-color-secondary);
  border-color: var(--theme-button-background-color-secondary);
  background-color: var(--theme-button-background-color-secondary);
}
.scheme_1 a.btn-outline, .scheme_1 a.btn-outline-secondary,
.scheme_2 a.btn-outline,
.scheme_2 a.btn-outline-secondary,
.scheme_3 a.btn-outline,
.scheme_3 a.btn-outline-secondary,
.scheme_4 a.btn-outline,
.scheme_4 a.btn-outline-secondary,
.scheme_5 a.btn-outline,
.scheme_5 a.btn-outline-secondary,
.scheme_6 a.btn-outline,
.scheme_6 a.btn-outline-secondary,
.scheme_7 a.btn-outline,
.scheme_7 a.btn-outline-secondary,
.scheme_8 a.btn-outline,
.scheme_8 a.btn-outline-secondary,
[class*=scheme-] a.btn-outline,
[class*=scheme-] a.btn-outline-secondary {
  position: relative;
  color: var(--theme-button-background-color-primary);
  border-radius: var(--theme-button-border-radius, 0);
  border-width: var(--theme-button-border-width, 1px);
  border-style: solid;
  border-color: var(--theme-button-background-color-primary);
  background-color: transparent;
  overflow: hidden;
  z-index: 1;
}
.scheme_1 a.btn-outline-secondary,
.scheme_2 a.btn-outline-secondary,
.scheme_3 a.btn-outline-secondary,
.scheme_4 a.btn-outline-secondary,
.scheme_5 a.btn-outline-secondary,
.scheme_6 a.btn-outline-secondary,
.scheme_7 a.btn-outline-secondary,
.scheme_8 a.btn-outline-secondary,
[class*=scheme-] a.btn-outline-secondary {
  color: var(--theme-button-background-color-secondary);
  border-color: var(--theme-button-background-color-secondary);
}
[class^=section-].has-section-padding .section-container,
[class*=" section-"].has-section-padding .section-container {
  padding: var(--theme-section-content-padding, 0px);
}
[class^=section-].has-section-padding-on-sides .section-container,
[class*=" section-"].has-section-padding-on-sides .section-container {
  padding-left: var(--theme-section-content-padding, 0px);
  padding-right: var(--theme-section-content-padding, 0px);
}
[class^=section-].has-section-padding-on-top-bottom .section-container,
[class*=" section-"].has-section-padding-on-top-bottom .section-container {
  padding-top: var(--theme-section-content-padding, 0px);
  padding-bottom: var(--theme-section-content-padding, 0px);
}
[class^=section-].has-section-padding-on-top-bottom-left .section-container,
[class*=" section-"].has-section-padding-on-top-bottom-left .section-container {
  padding-top: var(--theme-section-content-padding, 0px);
  padding-bottom: var(--theme-section-content-padding, 0px);
  padding-left: var(--theme-section-content-padding, 0px);
}
[class^=section-].has-custom-width .section-container,
[class*=" section-"].has-custom-width .section-container {
  --container-padding: var(--theme-block-content-padding-level-1, 16px);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--theme-section-custom-width) + var(--container-padding, 0px) * 2);
  padding-left: var(--container-padding, 0px);
  padding-right: var(--container-padding, 0px);
}
.heading-size-huge, .heading-size-big, .heading-size-x-large, .heading-size-large, .heading-size-medium, .heading-size-small, .heading-size-x-small {
  font-family: var(--theme-heading-font-family);
  font-weight: var(--theme-heading-font-weight);
  letter-spacing: var(--theme-heading-letter-spacing);
  font-variation-settings: "wght" var(--theme-heading-font-weight);
  line-height: var(--theme-heading-line-height);
  text-transform: var(--theme-heading-text-transform);
}
.special-heading-size-large, .special-heading-size-medium, .special-heading-size-small, .special-heading-size-x-small {
  font-family: var(--theme-special-heading-font-family);
  font-weight: var(--theme-special-heading-font-weight);
  letter-spacing: var(--theme-special-heading-letter-spacing);
  font-variation-settings: "wght" var(--theme-special-heading-font-weight);
  line-height: var(--theme-special-heading-line-height);
  text-transform: var(--theme-special-heading-text-transform);
}
.paragraph-size-large, .paragraph-size-medium, .paragraph-size-small, .paragraph-size-x-small {
  font-family: var(--theme-body-font-family);
  font-weight: var(--theme-font-weight-regular);
  letter-spacing: var(--theme-body-letter-spacing);
  font-variation-settings: "wght" var(--theme-font-weight-regular);
  line-height: var(--theme-body-line-height);
  text-transform: var(--theme-body-text-transform);
}
.heading-size-huge {
  font-size: var(--theme-heading-font-size-huge);
}
.heading-size-big {
  font-size: var(--theme-heading-font-size-big);
}
.heading-size-x-large {
  font-size: var(--theme-heading-font-size-x-large);
}
.heading-size-large {
  font-size: var(--theme-heading-font-size-large);
}
.heading-size-medium {
  font-size: var(--theme-heading-font-size-medium);
}
.heading-size-small {
  font-size: var(--theme-heading-font-size-small);
}
.heading-size-x-small {
  font-size: var(--theme-heading-font-size-x-small);
}
.heading-size-tiny {
  font-size: var(--theme-heading-font-size-tiny);
}
.special-heading-size-x-small {
  font-size: var(--theme-special-heading-font-size-x-small);
}
.special-heading-size-small {
  font-size: var(--theme-special-heading-font-size-small);
}
.special-heading-size-medium {
  font-size: var(--theme-special-heading-font-size-medium);
}
.special-heading-size-large {
  font-size: var(--theme-special-heading-font-size-large);
}
.paragraph-size-x-small {
  font-size: var(--theme-body-font-size-x-small);
}
.paragraph-size-small {
  font-size: var(--theme-body-font-size-small);
}
.paragraph-size-medium {
  font-size: var(--theme-body-font-size);
}
.paragraph-size-large {
  font-size: var(--theme-body-font-size-large);
}
.section-separator {
  margin-top: var(--theme-section-spacing-custom-top, var(--theme-section-spacing-top));
  margin-bottom: var(--theme-section-spacing-custom-bottom, var(--theme-section-spacing-bottom));
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
.section-separator .separator {
  border: 0;
  width: var(--theme-section-separator-width, 100%);
  height: var(--theme-section-separator-height, 1px);
  background-color: var(--theme-section-separator-color, var(--theme-lines-color-secondary));
}
@media (min-width: 768px) {
  .section-separator {
    margin-left: var(--theme-section-side-margin, auto);
    margin-right: var(--theme-section-side-margin, auto);
  }
  .has-custom-width + .section-separator:not(.has-fullwidth) {
    max-width: var(--theme-section-custom-width);
    margin-left: auto;
    margin-right: auto;
  }
}
.password {
  --theme-section-side-margin: var(--theme-section-side-margin-level-4);
  display: flex;
  flex-direction: column;
}
.password footer {
  margin-top: auto;
}
.password .section-header {
  background-color: #fff;
  margin-left: var(--theme-section-side-margin, auto);
  margin-right: var(--theme-section-side-margin, auto);
}
.password .section-header-container {
  flex-wrap: wrap;
  justify-content: space-between;
}
.password .section-header-right {
  margin: 0;
}
.password .section-footer {
  margin-left: var(--theme-section-side-margin, auto);
  margin-right: var(--theme-section-side-margin, auto);
}
.password .section-footer-content {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  margin: 0;
}
.password .section-footer-content > div {
  width: 100%;
}
.password .section-footer-text {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}
.password .section-footer-text svg {
  width: 72px;
}
.password .section-footer-text a {
  line-height: 1;
  display: block;
}
.password .footer-social-list {
  flex-wrap: wrap;
  justify-content: center;
}
.password .footer-social-list li {
  margin-bottom: 0;
}
.password-modal {
  position: relative;
  display: block;
}
.password-modal__admin-link {
  display: block;
  margin-top: 6px;
}
.password-modal__admin-link a {
  text-decoration: underline;
}
.password-modal__admin-link a:hover {
  text-decoration: none;
}
.password-modal__close-button {
  position: absolute;
  padding: 12px;
  border: 0;
  top: 0;
  right: 0;
  line-height: 1;
}
.password-modal__content {
  position: absolute;
  right: 0;
  background-color: #fff;
  padding: 30px;
  width: 340px;
  margin-top: 5px;
  z-index: 1;
}
.password-modal details {
  margin-top: 16px;
  margin-bottom: 16px;
}
.password-modal details summary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  list-style: none;
  cursor: pointer;
}
.password-modal details summary span {
  display: none;
}
.password-modal details summary svg {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-right: -6px;
}
.password-modal details summary::-webkit-details-marker {
  display: none;
}
.password-form label span {
  font-size: 12px;
  display: none;
}
.password-form input {
  width: 100%;
  border: 1px solid;
  border-color: var(--theme-border-color-primary);
  background-color: transparent;
}
.password-form button {
  width: 100%;
  position: relative;
  color: var(--theme-button-color-primary);
  border-radius: var(--theme-button-border-radius, 0);
  border-width: var(--theme-button-border-width, 1px);
  border-style: solid;
  border-color: var(--theme-button-background-color-primary);
  background-color: var(--theme-button-background-color-primary);
  overflow: hidden;
  z-index: 1;
}
@media (min-width: 768px) {
  .password .section-footer-content > div {
    flex: 1;
  }
  .password .section-footer-column:first-child .section-footer-text {
    justify-content: flex-start;
  }
  .password .section-footer-column:last-child .section-footer-text {
    justify-content: flex-end;
  }
  .password-modal details summary span {
    display: flex;
  }
}